/**
 * *
 * 未选中复选框
 *<div class="opt">
    <input class="magic-checkbox" type="checkbox" name="layout" id="c1">
    <label for="c1">Normal</label>
</div>
选中复选框
<div class="opt">
    <input class="magic-checkbox" type="checkbox" name="layout" id="c2" checked>
    <label for="c2">Checked</label>
</div>
禁止选中的复选框
<div class="opt">
    <input class="magic-checkbox" type="checkbox" name="layout" id="c3" value="option2" disabled>
    <label for="c3" style="color:#ccc">Disabled</label>
</div>
选中禁止修改的复选框
<div class="opt">
    <input class="magic-checkbox" type="checkbox" name="layout" id="c4" checked disabled>
    <label for="c4" style="color:#ccc">Checked && Disabled</label>
</div>
*****单选框****************************************************
<div class="opt">
    <input class="magic-radio" type="radio" name="radio" id="r1" value="option1">
    <label for="r1">Normal</label>
</div>
<div class="opt">
    <input class="magic-radio" type="radio" name="radio" id="r2" value="option2" checked>
    <label for="r2">Checked</label>
</div>
<div class="opt">
    <input class="magic-radio" type="radio" name="radio" id="r3" value="option3" disabled>
    <label for="r3" style="color:#ccc">禁用</label>
</div>
<div class="opt">
    <input class="magic-radio" type="radio" id="r4" value="option4" checked disabled>
    <label for="r4" style="color:#ccc">Checked && Disabled</label>
</div>
 *
 */

@keyframes hover-color {
	from {
		border-color: #FFA928;
	}
	to {
		border-color: #FE9900;
	}
}

.magic-radio,
.magic-checkbox {
	position: absolute;
	display: none;
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
	cursor: not-allowed;
}

.magic-radio+label,
.magic-checkbox+label {
	position: relative;
	display: block;
	padding-left: 25px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 15px;
}

.magic-radio+label:hover:before,
.magic-checkbox+label:hover:before {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: hover-color;
}

.magic-radio+label:hover,
.magic-checkbox+label:hover{
		color:#FE9900 ;
}

.magic-radio+label:before,
.magic-checkbox+label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	content: '';
	border: 1px solid #FE9900;
}

.magic-radio+label:after,
.magic-checkbox+label:after {
	position: absolute;
	display: none;
	content: '';
}

.magic-radio[disabled]+label,
.magic-checkbox[disabled]+label {
	cursor: not-allowed;
	color: #e4e4e4;
}

.magic-radio[disabled]+label:hover,
.magic-radio[disabled]+label:before,
.magic-radio[disabled]+label:after,
.magic-checkbox[disabled]+label:hover,
.magic-checkbox[disabled]+label:before,
.magic-checkbox[disabled]+label:after {
	cursor: not-allowed;
}

.magic-radio[disabled]+label:hover:before,
.magic-checkbox[disabled]+label:hover:before {
	border: 1px solid #e4e4e4;
	animation-name: none;
}

.magic-radio[disabled]+label:before,
.magic-checkbox[disabled]+label:before {
	border-color: #e4e4e4;
}

.magic-radio:checked+label:before,
.magic-checkbox:checked+label:before {
	animation-name: none;
}

.magic-radio:checked+label:after,
.magic-checkbox:checked+label:after {
	display: block;
}

.magic-radio+label:before {
	border-radius: 50%;
}

.magic-radio+label:after {
	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FE9900;
}

.magic-radio:checked+label:before {
	border: 1px solid #FE9900;
}

.magic-radio:checked[disabled]+label:before {
	border: 1px solid #FE9900;
}

.magic-radio:checked[disabled]+label:after {
	background: #FE9900;
}

.magic-checkbox+label:before {
	border-radius: 3px;
}

.magic-checkbox+label:after {
	top: 0px;
	left: 5px;
	box-sizing: border-box;
	width: 6px;
	height: 12px;
	transform: rotate(45deg);
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-top: 0;
	border-left: 0;
}

.magic-checkbox:checked+label:before {
	border: #FE9900;
	background: #FE9900;
}

.magic-checkbox:checked[disabled]+label:before {
	border: #FE9900;
	background: #FE9900;
}